In [2]:
import numpy as np

## DataTypes and attributes

In [3]:
# main datatype = ndarray (n- dimentional array)
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [4]:
type(a1)

numpy.ndarray

In [5]:
a2 = np.array([[1,2,3],[4,5,6]])
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [6]:
a1.shape

(3,)

In [7]:
a1.ndim, a2.ndim

(1, 2)

In [8]:
a1.dtype

dtype('int32')

In [9]:
a1.size, a2.size

(3, 6)

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(a1)

In [12]:
df

   0
0  1
1  2
2  3

In [13]:
df2 = pd.DataFrame(a2)
a2

array([[1, 2, 3],
       [4, 5, 6]])

## 2. Creating Arrays

In [14]:
ones = np.ones((2,3))

In [15]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [16]:
zeros = np.zeros((2,3))
zeros.dtype

dtype('float64')

In [17]:
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [18]:
range_array = np.arange(0,10,4)

In [19]:
range_array

array([0, 4, 8])

In [20]:
random = np.random.randint(0,10,size=(2,4))

In [21]:
random

array([[7, 3, 1, 1],
       [4, 5, 6, 9]])

In [22]:
random2 = np.random.random((2,3))
random2

array([[0.65557656, 0.44474551, 0.65958644],
       [0.74017526, 0.04595395, 0.56973258]])

In [23]:
random3 = np.random.rand(4,3)
random3

array([[9.71882009e-01, 4.36077363e-01, 7.96716983e-01],
       [6.44861500e-01, 5.26797986e-01, 4.17733724e-04],
       [9.88216010e-01, 9.50210325e-01, 6.05541905e-01],
       [9.89277943e-02, 6.91407954e-01, 4.02160358e-01]])

In [24]:
# Pseudo-random numbers
# np.random.seed()

Seed:
Seed is the "lable" of a random set of numbers.
Seed in  a cell insures that set of random numbers remain at that seed.

## 3. Viewing arrays and Integers

In [25]:
# returns all the unique numbers in an array
np.unique(random)

array([1, 3, 4, 5, 6, 7, 9])

 #Size/shape and how to interpret it
    size = (2,3,4,5)
    2 = planes
    3 = rows per place
    4 = placements for array
    5 = elements per array

Array slicing can only go as far as the shape size.

## 4. Manipulating and comparing array

### Arithmetic

In [26]:
a1

array([1, 2, 3])

In [27]:
ones = np.ones(3)

In [28]:
ones

array([1., 1., 1.])

In [29]:
a1 +ones

array([2., 3., 4.])

In [30]:
a1 = np.array([1,2,3])

In [31]:
a1

array([1, 2, 3])

In [32]:
ones

array([1., 1., 1.])

In [33]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [34]:
a1 * a2

array([[ 1,  4,  9],
       [ 4, 10, 18]])

In [35]:
a1

array([1, 2, 3])

In [36]:
# floor division
a2 // a1

array([[1, 1, 1],
       [4, 2, 2]])

In [37]:
np.add(a1,ones)

array([2., 3., 4.])

In [38]:
a1 % 2

array([1, 0, 1], dtype=int32)

In [39]:
np.exp(a1)

array([ 2.71828183,  7.3890561 , 20.08553692])

In [40]:
np.log(a1)

array([0.        , 0.69314718, 1.09861229])

### Aggregation

Aggregation = performing the same operation on a number of things

In [41]:
sum(a1)

6

In [42]:
np.sum(a1)

6

### Use python methods on python dtypes, use Numpy methods on numpy

#### Variance = average measure of how different each point is from the mean

In [43]:
import matplotlib as plt

## Reshaping and Transposing

In [44]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [45]:
a2.reshape(2,3,1)

array([[[1],
        [2],
        [3]],

       [[4],
        [5],
        [6]]])

In [46]:
# Transpose
a2.reshape(2,3)
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [47]:
a2.T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [48]:
# Transpose switches the axises around

## Dot Product

In [49]:
np.random.seed(0)

mat1 = np.random.randint(10,size=(5,3))
mat2 = np.random.randint(10,size=(5,3))

In [50]:
mat1.shape

(5, 3)

In [51]:
mat2.shape

(5, 3)

In [52]:
mat1

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [53]:
mat2

array([[6, 7, 7],
       [8, 1, 5],
       [9, 8, 9],
       [4, 3, 0],
       [3, 5, 0]])